build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --@rules_cuda//cuda:enable=False
build --proto_compiler ':protoc' --proto_toolchain_for_cc ':cc_toolchain'
build:arenastring --//:arenastring
build:mutable-donated-string --config=arenastring --copt=-DGOOGLE_PROTOBUF_MUTABLE_DONATED_STRING=1 --host_copt=-DGOOGLE_PROTOBUF_MUTABLE_DONATED_STRING=1

test --//:werror --features external_include_paths
test:asan --copt=-fsanitize=address --host_copt=-fsanitize=address --linkopt=-fsanitize=address --host_linkopt=-fsanitize=address
test:tsan --copt=-fsanitize=thread --host_copt=-fsanitize=thread --linkopt=-fsanitize=thread --host_linkopt=-fsanitize=thread
